
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Autism</title>
</head>
<body>
    <nav class="navbar" style="background-color: #FFDBA4;">
        <div class="container-fluid">
          <a class="navbar-brand">Autism Detection</a>
          
          {% if request.user.is_authenticated %}
          <h4>hello {{request.user}}</h4> 
          <button><a href="logout">Logout</a></button>
          {% else %}
          <button><a href="login">Login</a></button>
          {% endif %}
          </form>
        </div>
      </nav>
    
    <div class="position-absolute top-50 start-50 translate-middle col-sm-6">
    <h1 style="text-align: center;" >A Website to detect autism</h1>

    <h3 style="text-align: center; margin-top: 40px;">Take a test to check whether your child has autism</h3>
    <button style=" margin-top: 40px; margin-left: 320px;"> <a href="home">Take test</a></button>
</div>
</body>
</html>